{% extends './colornav.html' %}

{% block title%} Add Quality {% endblock %}
{% block content%}
{% load widget_tweaks %}
{% load my_tags %}
      <!-- Add Party Start-->
 
      <div class="page-title">
        <h3 class="title-text">Closing Stock</h3>
      </div>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            
            <th scope="col">Sr-no</th>
            <th scope="col">Color name</th>
            <th scope="col">Quantity</th>
            
            
            
            
          </tr>
        </thead>
        <tbody>
        
        {% for p in colors %}
          <tr>
            
            <td scope="row">{{ forloop.counter }}</td>
            <td class="td-text">{{p.color}}</td>
            <td class="td-text">{{p.quantity}}</td>
            
            
            
          </tr>
          
        {% endfor %}
        </tbody>
      </table>
      <!-- Add Party End -->
      <div class="pagination">
        <div class="number-line">
          {% if suppliers.has_previous %}
          <a class="page-no-text" href="{% my_url suppliers.previous_page_number 'page' request.GET.urlencode %}">Previous page</a>
          {% endif%}
          {% for num in suppliers.paginator.page_range %}
            {%if suppliers.number == num%}
              &nbsp Page &nbsp<span class="current-page page-no-text"><strong>{{ num  }}</strong></span>&nbsp of &nbsp{{ suppliers.paginator.num_pages }}&nbsp
            
            {% endif %}
          {%endfor%}
          {% if suppliers.has_next %}
            <a class="page-no-text" href="{% my_url suppliers.next_page_number 'page' request.GET.urlencode %}">Next page</a>
          {% endif%}
        </div>  
      </div>


{% endblock %}