{% extends './colornav.html' %}

{% block title%} Daily Consumption {% endblock %}
{% block content%}
{% load widget_tweaks %}
{% load my_tags %}

    <div class="page-title">
      <h3 class="title-text">{{name}}</h3>
    </div>
      <div>
        <form method="POST" action="{% url 'dailyconsumption2' %}" class="md-form" enctype="multipart/form-data">
          {% csrf_token %}
          <label class="ml-3" for="lease">Choose Loose Godown</label>
            <div class="form-row mb-5 ml-3">
              <select class="form-control loose-list" name="lease" required>    
                {% for s in lease %}
                    
                    <option value="{{ s.lease }}" >{{ s.lease }}</option>
                                           
                {% endfor %}
              </select> 
              <button class="download-button ml-4" style="width: 10%;">Go</button>
            </div>
                
          
        </form>
      </div>
      <!-- Daily consumption Start-->
      <form method="POST" action="{% url 'consume' name %}" class="md-form" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="datatable">
          <table class="table">
            <thead class="thead-dark">
              <tr>

                <th scope="col">Sr. No</th>
                <th scope="col" class="td-text">Chemical Name</th>
                <th scope="col">Unit</th>
                <th scope="col">Quantity</th>
                <th scope="col">Average Rate</th>
                <th scope="col">Loose Godown</th>
                <th scope="col">Quantity to Consume</th>



              </tr>
            </thead>
<tbody>
            {% for record in colors %}
              <tr>

                <td scope="row">{{ forloop.counter }}</td>
                <td class="td-text">{{record.color}}</td>
                <td>{{record.unit}}</td>
                <td>{{record.quantity}}</td>
                <td>{{record.rate}}</td>
                <td>{{record.state}}</td>
                <td>
                  <input type="float" class="form-control" id="quantityconsume" value=0 placeholder="Enter Quantity" name="{{record.id}}" autofocus>
                </td>
              </tr>
            {% endfor %}


            </tbody>
          </table>
          </div>

          <br>
          <button class="btn-add float-right mr-2" type="submit" style="width: 15%;">CONSUME</button>
        </div>
      </form>
      <!-- Add Party End -->
      <div class="pagination">
        <div class="number-line">
          {% if suppliers.has_previous %}
          <a class="page-no-text" href="{% my_url suppliers.previous_page_number 'page' request.GET.urlencode %}">Previous page</a>
          {% endif%}
          {% for num in suppliers.paginator.page_range %}
            {%if suppliers.number == num%}
              &nbsp Page &nbsp<span class="current-page page-no-text"><strong>{{ num  }}</strong></span>&nbsp of &nbsp{{ suppliers.paginator.num_pages }}&nbsp

            {% endif %}
          {%endfor%}
          {% if suppliers.has_next %}
            <a class="page-no-text" href="{% my_url suppliers.next_page_number 'page' request.GET.urlencode %}">Next page</a>
          {% endif%}
        </div>
      </div>


{% endblock %}