{% extends './colornav.html' %}

{% block title%} Daily Consumption {% endblock %}
{% block content%}
{% load widget_tweaks %}
{% load my_tags %}

    <div class="page-title">
      <h3 class="title-text">{{name}}</h3>
    </div>
    <div class="form-row">
    <div class="form-group col-md-9">
        <form method="POST" action="{% url 'dailyconsumption2' %}" class="md-form" enctype="multipart/form-data">
          {% csrf_token %}
          <label class="ml-3" for="lease">Choose Loose Godown</label>
            <div class="form-row mb-7 ml-3">
              <select class="form-control loose-list" name="lease" required>    
                {% for s in lease %}
                    
                    <option value="{{ s.id }}" >{{ s.lease }}</option>
                                           
                {% endfor %}
              </select> 
              <button class="download-button ml-4" style="width: 10%;">Go</button>
            </div>  
        </form>
      </div>
      
      </div>
      <!-- Daily consumption Start-->
      <form class="md-form" method="POST" action="{% url 'dailyconsumptiondetails2' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group ml-3 col-md-3">
            <label for="Order Date">Consumption Date</label>
            <input type="date" class="form-control" id="consuming Date" name="consumingdate" max="{{ d }}" value="{{date}}"  required/>
          </div>
          <div class="form-group col-md-6">
            <button class="btn-add float-right mr-2" type="submit" style="width: 15%;">Get Details</button>
          </div>
        </div>
        
    </form>
        <div id="datatable">
          <table class="table">
            <thead class="thead-dark">
              <tr>

                <th scope="col">Sr. No</th>
                <th scope="col" class="td-text">Chemical Name</th>
                <th scope="col">Unit</th>
                <th scope="col">Quantity</th>
                <th scope="col">Loose Godown</th>
                <th scope="col">Date</th>
                <th></th>



              </tr>
            </thead>
            <tbody>
            {% for record in records %}
              <tr>

                <td scope="row">{{ forloop.counter }}</td>
                <td class="td-text">{{record.color.color}}</td>
                <td>{{record.unit.unit}}</td>
                <td>{{record.quantity}}</td>
                <td>{{record.loose_godown.lease}}</td>
                <td>{{record.con_date}}</td>
                <td><a class ="anchor-button button-small-text" href="{% url 'editdailyconsumption' record.id %}">Edit</a></td>
              </tr>
            {% endfor %}


            </tbody>
          </table>
          </div>

          <br>
          
        </div>
      
      <!-- Add Party End -->
      <div class="pagination">
        <div class="number-line">
          {% if suppliers.has_previous %}
          <a class="page-no-text" href="{% my_url suppliers.previous_page_number 'page' request.GET.urlencode %}">Previous page</a>
          {% endif%}
          {% for num in suppliers.paginator.page_range %}
            {%if suppliers.number == num%}
              &nbsp Page &nbsp<span class="current-page page-no-text"><strong>{{ num  }}</strong></span>&nbsp of &nbsp{{ suppliers.paginator.num_pages }}&nbsp

            {% endif %}
          {%endfor%}
          {% if suppliers.has_next %}
            <a class="page-no-text" href="{% my_url suppliers.next_page_number 'page' request.GET.urlencode %}">Next page</a>
          {% endif%}
        </div>
      </div>


{% endblock %}