<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GoodsReceived</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
  {% url 'index' as index %}
  {% url 'colorhome' as colorhome %}
  {% url 'ordergeneration' as ordergeneration %}
  {% url 'placeorder' as placeorder %}
  {% url 'goodsreceived' as goodsreceived %}
  {% url 'goodsrequest' as goodsrequest %}
  {% url 'goodslease' as goodslease %}
  {% url 'leaserequest' as leaserequest %}
  {% url 'dailyconsumption' as dailyconsumption %}
  {% url 'closingstock' as closingstock %}
    <!-- Nav Bar Start-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link {%if request.path == index %} active {%endif%}" href="{% url 'index' %}">Master <!--<span class="sr-only">(current)</span>--></a>
              <a class="nav-link {%if request.path == colorhome %} active {%endif%}" href="{% url 'colorhome' %}">Color - Home</a>
              <a class="nav-link {%if request.path == ordergeneration %} active {%elif request.path == placeorder %} active {%endif%}" href="{% url 'ordergeneration' %}">Order Generation</a>
              <a class="nav-link {%if request.path == goodsreceived %} active {%elif request.path == goodsrequest %} active {%endif%}" href="{% url 'goodsreceived' %}">Godown Stock</a>
                <a class="nav-link {%if request.path == goodslease %} active {%elif request.path == leaserequest %} active {%endif%}" href="{% url 'goodslease' %}">Loose Godown Stock</a>
              <a class="nav-link {%if request.path == dailyconsumption %} active {%endif%}" href="{% url 'dailyconsumption' %}">Daily Consumption</a>
              <a class="nav-link {%if request.path == closingstock %} active {%endif%}" href="{% url 'closingstock' %}">Closing Stock</a>
            </li>
          </ul>
          <!-- Approval Start 
            
            <a class ="btn-request float-right" href="{% url 'goodsrequest' %}">Receive Goods</a>
           Approval End-->
        </div>
      </nav>
      <!-- Nav Bar End-->

      <!-- Messages Start -->
    {% for message in messages %}
    <div
      class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    <!-- Messages End -->
    
    {% load widget_tweaks %}
    {% load my_tags %}
    <div class="page-title">
      <h3 class="title-text">Godown Stock</h3>
    </div>

      <!-- Filter Start -->
      <form method="GET">
          <div class="form-row filter-form">
            <div class="form-group col-sm-4">
              {{ filter.form.color.label_tag }}
              {% render_field filter.form.color class="form-control" %}
            </div>
            <div class="form-group col-sm-2">
              {{ filter.form.state.label_tag }}
              {% render_field filter.form.state class="form-control" %}
            </div>
            
            <div class="form-group col-sm-2 filter-button">
              <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Search</button>
            </div>
          </div>
      </form>
      <!-- Filter End -->
      
      <!-- Download Button Start-->
      <div class="download">
        <a class="download-button" href="#">Print This Page</a>
        <a class="download-button" href="#">Print All Filtered Data</a>
        <a class="download-button" href="#">Print All Data</a>
      </div>
      <!-- Download Button End-->

      <!-- Display Table Start-->
      <div id="datatable">
      <table class="table">
        <thead class="thead-dark">
          <tr>

            <th scope="col">Sr. No</th>
            <th class="td-text" scope="col">Chemical Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit</th>
            <th scope="col">Average Rate</th>
            <!--<th scope="col">State</th>-->
            <th scope="col">Godown Name</th>
            <th scope="col"></th>


          </tr>
        </thead>
        <tbody>
        {% for record in colors %}
        <tr>

          <td scope="row">{{ forloop.counter }}</td>
          <td class="td-text">{{record.color}}</td>
          <td>{{record.quantity}}</td>
          <td>{{record.unit}}</td>
          <td>{{record.rate}}</td>
          <!--<td>Godown</td>-->
          <td>{{record.state}}</td>
          <td><a class ="anchor-button button-small-text" href="{% url 'leaseapprove' record.id %}">Move To Loose</a></td>

        </tr>
        {% endfor %}
          
          
        </tbody>
      </table>
      </div>
      <!-- Display Table End -->

      <div class="pagination">
        <div class="number-line">
          {% if colors.has_previous %}
          <a class="page-no-text" href="{% my_url colors.previous_page_number 'page' request.GET.urlencode %}">Previous page</a>
          {% endif%}
          {% for num in colors.paginator.page_range %}
            {%if colors.number == num%}
              &nbsp Page &nbsp<span class="current-page page-no-text"><strong>{{ num  }}</strong></span>&nbsp of &nbsp{{ colors.paginator.num_pages }}&nbsp
            
            {% endif %}
          {%endfor%}
          {% if colors.has_next %}
            <a class="page-no-text" href="{% my_url colors.next_page_number 'page' request.GET.urlencode %}">Next page</a>
          {% endif%}
        </div>  
      </div>

      <br>

</body>

{% load static %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
{% load static %}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>