{% extends './colornav.html' %}

{% block title%} Place Order {% endblock %}
{% block content%}
      <!-- Diplay Record Start -->
        <div class="page-title">
            <h3 class="title-text">Move Color & Chemicals Order to Loose</h3>
        </div>

      <form class = "md-form view-file" method="POST" action="{% url 'leaseapproved' record.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        
        
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="new-quality">Chemical Name</label>
                <input type="text" class="form-control" value="{{record.color}}" name="color" readonly>
 
            </div>
            <div class="form-group col-md-3">
                <label for="new-quality">Unit</label>
                <input type="text" class="form-control" value="{{record.unit}}" name="color" readonly>
 
            </div>
            <div class="form-group col-md-3">
                <label for="Quantity">Quantity</label>
                <input type="text" class="form-control" id="quantity" placeholder="Quantity" value="{{ record.quantity}}" name="quantity" required readonly>
            </div>
            <div class="form-group col-md-3">
                <label for="Rate">Average Rate</label>
                <input type="float" class="form-control" id="rate" placeholder="Rate" value="{{ record.rate}}"  name="rate" required readonly>
            </div>
            
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="Quantity">Quantity Loose</label>
                <input type="number" step="0.01" class="form-control" id="quantityreceived" placeholder="Quantity Lease" value="{{ record.quantity }}" name="quantitylease" required autofocus>
            </div>
            <div class="form-group col-md-3">
                <label for="Order Date">Moving Date</label>
                <input type="date" class="form-control" id="moving Date" name="movingdate" max="{{ d }}" value="{{d}}"  required/>
            </div>
            <div class="form-group col-md-3">
                <label for="Lease">Loose Godown Name</label>
                <select class="form-control" name="leasenumber" required>                      
                    {% for l in lease %}
                        <option value="{{l.lease}}">{{l.lease}}</option>
                    {% endfor %}
                </select>   
            </div>
            <div class="form-group col-md-3">
                <label for="Quantity">Godown Name</label>
                <input type="text" class="form-control" id="godown" name="godown" value="{{record.state}}" required readonly/>
            </div>
            
        </div>
        
        <div class="form-row">
            <div class="form-group col-md-6">
                <button type="submit" class="btn btn-primary button">Approve Color</button>
            </div>
            <div class="form-group col-md-6 next-previous">
                <a class ="anchor-button float-right" href="{% url 'backtoorders' record.state %}">Back</a>
                    
            </div>
        </div>
      </form>
      <!-- Display Record End -->
{% endblock %}