{% extends './colornav.html' %}

{% block title%} Place Order {% endblock %}
{% block content%}
      <!-- Diplay Record Start -->
        <div class="page-title">
            <h3 class="title-text">Color & Chemicals - PLACE ORDER</h3>
        </div>

      <form class = "md-form view-file" method="POST" action="{% url 'saveorder' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="new-quality">Supplier Party</label>
                <select class="form-control" name="supplier" required>

                    {% for party in suppliers %}
                        
                        <option value="{{ party.supplier }}">{{ party.supplier }}</option>
                        
                    {% endfor %}
                </select>    
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="Order No">Order No</label>
                <input type="number" class="form-control" id="order_no" placeholder="Order No" value="{{orderno}}" name="order_no" required>
            </div>
            <div class="form-group col-md-4">
                <label for="Order Date">Order Date</label>
                <input type="date" class="form-control" id="Order Date" name="order_date" max="{{maxdate}}" value="{{date}}" required/>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="new-quality">Color</label>
                <select class="form-control" name="color">

                    {% for party in color %}
                        
                        <option value="{{ party.color }}">{{ party.color }}</option>
                        
                    {% endfor %}
                </select>    
            </div>
            <div class="form-group col-md-3">
                <label for="Quantity">Quantity</label>
                <input type="text" class="form-control" id="quantity" placeholder="Quantity" name="quantity">
            </div>
            <div class="form-group col-md-3">
                <label for="Unit">Unit</label>
                 
                <select class="form-control" name="unit">

                    {% for u in units %}
                        
                        <option value="{{ u.unit }}">{{ u.unit }}</option>
                        
                    {% endfor %}
                </select>     
            </div>
            <div class="form-group col-md-3">
                <label for="Rate">Rate</label>
                <input type="float" class="form-control" id="rate" placeholder="Rate" name="rate">
            </div>
            <!--
            <div class="form-group col-md-4">
                <label for="Bill Amount">Bill Amount</label>
                <input type="float" class="form-control" id="bill_amount" placeholder="Bill Amount" name="amount" required>
            </div>
            -->
        </div>

        <!-- 2nd Color -->
        <div class="additional-color">
            <div class="form-row">
                <button class="btn-outline-dark button" formaction="javascript:color2()" id="button-2">Add Color</button>
            </div>
            <div class="form-row hide" id="color-2">
                <div class="form-group col-md-3">
                    <label for="new-quality">Color</label>
                    <select class="form-control" name="color2">
    
                        {% for party in color %}
                            
                            <option value="{{ party.color }}">{{ party.color }}</option>
                            
                        {% endfor %}
                    </select>    
                </div>
                <div class="form-group col-md-3">
                    <label for="Quantity">Quantity</label>
                    <input type="text" class="form-control" id="quantity" placeholder="Quantity" name="quantity2">
                </div>
                <div class="form-group col-md-3">
                    <label for="Unit">Unit</label>
                    <select class="form-control" name="unit2">

                        {% for u in units %}
                            
                            <option value="{{ u.unit }}">{{ u.unit }}</option>
                            
                        {% endfor %}
                    </select>  
                </div>
                <div class="form-group col-md-3">
                    <label for="Rate">Rate</label>
                    <input type="float" class="form-control" id="rate" placeholder="Rate" name="rate2">
                </div>
                <div class="form-row">
                    <button class="btn-outline-dark button" formaction="javascript:color3()" id="button-3">Add Color</button>
                </div>
            </div>
        </div>

        <!-- 3rd Color -->
        <div class="additional-color">
            <div class="form-row hide" id="color-3">
                <div class="form-group col-md-3">
                    <label for="new-quality">Color</label>
                    <select class="form-control" name="color3">
    
                        {% for party in color %}
                            
                            <option value="{{ party.color }}">{{ party.color }}</option>
                            
                        {% endfor %}
                    </select>    
                </div>
                <div class="form-group col-md-3">
                    <label for="Quantity">Quantity</label>
                    <input type="text" class="form-control" id="quantity" placeholder="Quantity" name="quantity3">
                </div>
                <div class="form-group col-md-3">
                    <label for="Unit">Unit</label>
                    <select class="form-control" name="unit3">

                        {% for u in units %}
                            
                            <option value="{{ u.unit }}">{{ u.unit }}</option>
                            
                        {% endfor %}
                    </select>  
                </div>
                <div class="form-group col-md-3">
                    <label for="Rate">Rate</label>
                    <input type="float" class="form-control" id="rate" placeholder="Rate" name="rate3">
                </div>
                <div class="form-row">
                    <button class="btn-outline-dark button" formaction="javascript:color4()" id="button-4">Add Color</button>
                </div>
            </div>
        </div>

        <!-- 4th Color -->
        <div class="additional-color">
            <div class="form-row hide" id="color-4">
                <div class="form-group col-md-3">
                    <label for="new-quality">Color</label>
                    <select class="form-control" name="color4">
    
                        {% for party in color %}
                            
                            <option value="{{ party.color }}">{{ party.color }}</option>
                            
                        {% endfor %}
                    </select>    
                </div>
                <div class="form-group col-md-3">
                    <label for="Quantity">Quantity</label>
                    <input type="text" class="form-control" id="quantity" placeholder="Quantity" name="quantity4">
                </div>
                <div class="form-group col-md-3">
                    <label for="Unit">Unit</label>
                    <select class="form-control" name="unit4">

                        {% for u in units %}
                            
                            <option value="{{ u.unit }}">{{ u.unit }}</option>
                            
                        {% endfor %}
                    </select>   
                </div>
                <div class="form-group col-md-3">
                    <label for="Rate">Rate</label>
                    <input type="float" class="form-control" id="rate" placeholder="Rate" name="rate4">
                </div>
                <div class="form-row">
                    <button class="btn-outline-dark button" formaction="javascript:color5()" id="button-5">Add Color</button>
                </div>
            </div>
        </div>

        <!-- 5th Color -->
        <div class="additional-color">
            <div class="form-row hide" id="color-5">
                <div class="form-group col-md-3">
                    <label for="new-quality">Color</label>
                    <select class="form-control" name="color5">
    
                        {% for party in color %}
                            
                            <option value="{{ party.color }}">{{ party.color }}</option>
                            
                        {% endfor %}
                    </select>    
                </div>
                <div class="form-group col-md-3">
                    <label for="Quantity">Quantity</label>
                    <input type="text" class="form-control" id="quantity" placeholder="Quantity" name="quantity5">
                </div>
                <div class="form-group col-md-3">
                    <label for="Unit">Unit</label>
                    <select class="form-control" name="unit5">

                        {% for u in units %}
                            
                            <option value="{{ u.unit }}">{{ u.unit }}</option>
                            
                        {% endfor %}
                    </select>  
                </div>
                <div class="form-group col-md-3">
                    <label for="Rate">Rate</label>
                    <input type="float" class="form-control" id="rate" placeholder="Rate" name="rate5">
                </div>
                <div class="form-row">
                    <button class="btn-outline-dark button" formaction="javascript:color6()" id="button-6">Add Color</button>
                </div>
            </div>
        </div>

        <!-- 6th Color -->
        <div class="additional-color">
            <div class="form-row hide" id="color-6">
                <div class="form-group col-md-3">
                    <label for="new-quality">Color</label>
                    <select class="form-control" name="color6">
    
                        {% for party in color %}
                            
                            <option value="{{ party.color }}">{{ party.color }}</option>
                            
                        {% endfor %}
                    </select>    
                </div>
                <div class="form-group col-md-3">
                    <label for="Quantity">Quantity</label>
                    <input type="text" class="form-control" id="quantity" placeholder="Quantity" name="quantity6">
                </div>
                <div class="form-group col-md-3">
                    <label for="Unit">Unit</label>
                    <select class="form-control" name="unit6">

                        {% for u in units %}
                            
                            <option value="{{ u.unit }}">{{ u.unit }}</option>
                            
                        {% endfor %}
                    </select>   
                </div>
                <div class="form-group col-md-3">
                    <label for="Rate">Rate</label>
                    <input type="float" class="form-control" id="rate" placeholder="Rate" name="rate6">
                </div>
                <div class="form-row">
                    <button class="btn-outline-dark button" formaction="javascript:color7()" id="button-7">Add Color</button>
                </div>
            </div>
        </div>

        <!-- 7th Color -->
        <div class="additional-color">
            <div class="form-row hide" id="color-7">
                <div class="form-group col-md-3">
                    <label for="new-quality">Color</label>
                    <select class="form-control" name="color7">
    
                        {% for party in color %}
                            
                            <option value="{{ party.color }}">{{ party.color }}</option>
                            
                        {% endfor %}
                    </select>    
                </div>
                <div class="form-group col-md-3">
                    <label for="Quantity">Quantity</label>
                    <input type="text" class="form-control" id="quantity" placeholder="Quantity" name="quantity7">
                </div>
                <div class="form-group col-md-3">
                    <label for="Unit">Unit</label>
                    <select class="form-control" name="unit7">

                        {% for u in units %}
                            
                            <option value="{{ u.unit }}">{{ u.unit }}</option>
                            
                        {% endfor %}
                    </select>  
                </div>
                <div class="form-group col-md-3">
                    <label for="Rate">Rate</label>
                    <input type="float" class="form-control" id="rate" placeholder="Rate" name="rate7">
                </div>
                <div class="form-row">
                    <button class="btn-outline-dark button" formaction="javascript:color8()" id="button-8">Add Color</button>
                </div>
            </div>
        </div>

        <!-- 8th Color -->
        <div class="additional-color">
            <div class="form-row hide" id="color-8">
                <div class="form-group col-md-3">
                    <label for="new-quality">Color</label>
                    <select class="form-control" name="color8">
    
                        {% for party in color %}
                            
                            <option value="{{ party.color }}">{{ party.color }}</option>
                            
                        {% endfor %}
                    </select>    
                </div>
                <div class="form-group col-md-3">
                    <label for="Quantity">Quantity</label>
                    <input type="text" class="form-control" id="quantity" placeholder="Quantity" name="quantity8">
                </div>
                <div class="form-group col-md-3">
                    <label for="Unit">Unit</label>
                    <select class="form-control" name="unit8">

                        {% for u in units %}
                            
                            <option value="{{ u.unit }}">{{ u.unit }}</option>
                            
                        {% endfor %}
                    </select>  
                </div>
                <div class="form-group col-md-3">
                    <label for="Rate">Rate</label>
                    <input type="float" class="form-control" id="rate" placeholder="Rate" name="rate8">
                </div>
                <div class="form-row">
                    <button class="btn-outline-dark button" formaction="javascript:color9()" id="button-9">Add Color</button>
                </div>
            </div>
        </div>

        <!-- 9th Color -->
        <div class="additional-color">
            <div class="form-row hide" id="color-9">
                <div class="form-group col-md-3">
                    <label for="new-quality">Color</label>
                    <select class="form-control" name="color9">
    
                        {% for party in color %}
                            
                            <option value="{{ party.color }}">{{ party.color }}</option>
                            
                        {% endfor %}
                    </select>    
                </div>
                <div class="form-group col-md-3">
                    <label for="Quantity">Quantity</label>
                    <input type="text" class="form-control" id="quantity" placeholder="Quantity" name="quantity9">
                </div>
                <div class="form-group col-md-3">
                    <label for="Unit">Unit</label>
                    <select class="form-control" name="unit9">

                        {% for u in units %}
                            
                            <option value="{{ u.unit }}">{{ u.unit }}</option>
                            
                        {% endfor %}
                    </select>  
                </div>
                <div class="form-group col-md-3">
                    <label for="Rate">Rate</label>
                    <input type="float" class="form-control" id="rate" placeholder="Rate" name="rate9">
                </div>
                <div class="form-row">
                    <button class="btn-outline-dark button" formaction="javascript:color10()" id="button-10">Add Color</button>
                </div>
            </div>
        </div>

        <!-- 10th Color -->
        <div class="additional-color">
            <div class="form-row hide" id="color-10">
                <div class="form-group col-md-3">
                    <label for="new-quality">Color</label>
                    <select class="form-control" name="color10">
    
                        {% for party in color %}
                            
                            <option value="{{ party.color }}">{{ party.color }}</option>
                            
                        {% endfor %}
                    </select>    
                </div>
                <div class="form-group col-md-3">
                    <label for="Quantity">Quantity</label>
                    <input type="text" class="form-control" id="quantity" placeholder="Quantity" name="quantity10">
                </div>
                <div class="form-group col-md-3">
                    <label for="Unit">Unit</label>
                    <select class="form-control" name="unit10">

                        {% for u in units %}
                            
                            <option value="{{ u.unit }}">{{ u.unit }}</option>
                            
                        {% endfor %}
                    </select>  
                </div>
                <div class="form-group col-md-3">
                    <label for="Rate">Rate</label>
                    <input type="float" class="form-control" id="rate" placeholder="Rate" name="rate10">
                </div>
            </div>
        </div>
        

        <!--Place Order Button-->
        <div class="form-row">
            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-primary button float-right">Place Order</button>
            </div>
        </div>
      </form>
      <!-- Display Record End -->


<script>
    function color2() {
        var x = document.getElementById("color-2");
        if (x.style.display === "none") {
            x.style.display = "flex";
        } else {
            x.style.display = "none";
        }
        var x = document.getElementById("button-2");
        if (x.style.display === "inline-block") {
            x.style.display = "none";
        } else {
            x.style.display = "inline-block";
        }
    }

    function color3() {
        var x = document.getElementById("color-3");
        if (x.style.display === "none") {
            x.style.display = "flex";
        } else {
            x.style.display = "none";
        }
        var x = document.getElementById("button-3");
        if (x.style.display === "inline-block") {
            x.style.display = "none";
        } else {
            x.style.display = "inline-block";
        }
    }

    function color4() {
        var x = document.getElementById("color-4");
        if (x.style.display === "none") {
            x.style.display = "flex";
        } else {
            x.style.display = "none";
        }
        var x = document.getElementById("button-4");
        if (x.style.display === "inline-block") {
            x.style.display = "none";
        } else {
            x.style.display = "inline-block";
        }
    }

    function color5() {
        var x = document.getElementById("color-5");
        if (x.style.display === "none") {
            x.style.display = "flex";
        } else {
            x.style.display = "none";
        }
        var x = document.getElementById("button-5");
        if (x.style.display === "inline-block") {
            x.style.display = "none";
        } else {
            x.style.display = "inline-block";
        }
    }

    function color6() {
        var x = document.getElementById("color-6");
        if (x.style.display === "none") {
            x.style.display = "flex";
        } else {
            x.style.display = "none";
        }
        var x = document.getElementById("button-6");
        if (x.style.display === "inline-block") {
            x.style.display = "none";
        } else {
            x.style.display = "inline-block";
        }
    }

    function color7() {
        var x = document.getElementById("color-7");
        if (x.style.display === "none") {
            x.style.display = "flex";
        } else {
            x.style.display = "none";
        }
        var x = document.getElementById("button-7");
        if (x.style.display === "inline-block") {
            x.style.display = "none";
        } else {
            x.style.display = "inline-block";
        }
    }

    function color8() {
        var x = document.getElementById("color-8");
        if (x.style.display === "none") {
            x.style.display = "flex";
        } else {
            x.style.display = "none";
        }
        var x = document.getElementById("button-8");
        if (x.style.display === "inline-block") {
            x.style.display = "none";
        } else {
            x.style.display = "inline-block";
        }
    }

    function color9() {
        var x = document.getElementById("color-9");
        if (x.style.display === "none") {
            x.style.display = "flex";
        } else {
            x.style.display = "none";
        }
        var x = document.getElementById("button-9");
        if (x.style.display === "inline-block") {
            x.style.display = "none";
        } else {
            x.style.display = "inline-block";
        }
    }

    function color10() {
        var x = document.getElementById("color-10");
        if (x.style.display === "none") {
            x.style.display = "flex";
        } else {
            x.style.display = "none";
        }
        var x = document.getElementById("button-10");
        if (x.style.display === "inline-block") {
            x.style.display = "none";
        } else {
            x.style.display = "inline-block";
        }
    }
</script>


{% endblock %}