{% extends './colornav.html' %}

{% block title%} Place Order {% endblock %}
{% block content%}
      <!-- Diplay Record Start -->
        <div class="page-title">
            <h3 class="title-text">COLOR - PLACE ORDER</h3>
        </div>

      <form class = "md-form view-file" method="POST" action="{% url 'saveorder' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="new-quality">Supplier Party</label>
                <select class="form-control" name="supplier" required>

                    {% for party in suppliers %}
                        
                        <option value="{{ party.supplier }}">{{ party.supplier }}</option>
                        
                    {% endfor %}
                </select>    
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="Order No">Order No</label>
                <input type="number" class="form-control" id="order_no" placeholder="Order No" name="order_no" required>
            </div>
            <div class="form-group col-md-4">
                <label for="Order Date">Order Date</label>
                <input type="date" class="form-control" id="Order Date" name="order_date" max="{{maxdate}}" value="{{date}}" required/>
            </div>
            <div class="form-group col-md-4">
                <label for="new-quality">Color</label>
                <select class="form-control" name="color" required>

                    {% for party in color %}
                        
                        <option value="{{ party.color }}">{{ party.color }}</option>
                        
                    {% endfor %}
                </select>    
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="Quantity">Quantity</label>
                <input type="text" class="form-control" id="quantity" placeholder="Quantity" name="quantity" required>
            </div>
            <div class="form-group col-md-4">
                <label for="Rate">Rate</label>
                <input type="float" class="form-control" id="rate" placeholder="Rate" name="rate" required>
            </div>
            <div class="form-group col-md-4">
                <label for="Bill Amount">Bill Amount</label>
                <input type="number" class="form-control" id="bill_amount" placeholder="Bill Amount" name="amount" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <button type="submit" class="btn btn-primary button">Place Order</button>
            </div>
        </div>
      </form>
      <!-- Display Record End -->
{% endblock %}