{% extends 'nav.html' %}

{% block title%} Add Quality {% endblock %}
{% block content%}

      <!-- Add Quality Start-->
      <form method="POST" action="{% url 'savequality' %}" class="md-form upload-file" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="upload-header">
            <h1>Add Quality</h1>
        </div>
        <div class="upload-container">
            <input type="text" class="form-control" id="addquality" placeholder="Quality" name="newer_quality">

            <br>

            <button class="upload-btn btn-primary" type="submit">Add</button>
        </div>
      </form>
      <!-- Add Quality End -->

{% endblock %}