{% extends 'nav.html' %}

{% block title%} Record {% endblock %}
{% block content%}
      <!-- Diplay Record Start -->
      <div class="page-title">
        <h3 class="title-text">CHECKING - APPROVE RECORD</h3>
      </div>

      <form class = "md-form view-file" method="POST" action="{% url 'approvecheck' record.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="Party Name">Party Name</label>
            <input type="text" class="form-control" id="party_name" placeholder="Party Name" value="{{record.party_name}}" name="party_name" readonly>
          </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="Bill No">Bill No</label>
                <input type="number" class="form-control" id="bill_no" placeholder="Bill No" value="{{record.bill_no}}" name="bill_no" readonly>
            </div>
            <div class="form-group col-md-4">
                <label for="Bill Date">Bill Date</label>
                <input type="text" class="form-control" id="bill_date" placeholder="Bill Date"  
                value="{{record.bill_date}}" name="bill_date" readonly/>
            </div>
            <div class="form-group col-md-4">
                <label for="Bill Amount">Bill Amount</label>
                <input type="number" class="form-control" id="bill_amount" placeholder="Bill Amount" value="{{record.bill_amount}}" name="bill_amount" readonly>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="Lot No">Lot No</label>
                <input type="number" class="form-control" id="lot_no" placeholder="Lot No" value="{{record.lot_no}}" name="lot_no" readonly>
            </div>
            <div class="form-group col-md-4">
                <label for="Quality">Quality</label>
                <input type="text" class="form-control" id="quality_date" placeholder="Quality" value="{{record.quality}}" name="quality" readonly>
            </div>
            <div class="form-group col-md-4">
                <label for="Than">Than</label>
                <input type="number" class="form-control" id="than" placeholder="Than" value="{{record.than}}" name="than" readonly>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="Mtrs">Mtrs</label>
                <input type="number" class="form-control" id="mtrs" placeholder="0"  value="{{record.mtrs}}" name="mtrs" readonly >
            </div>
            <div class="form-group col-md-4">
                <label for="Bale">Bale</label>
                <input type="number" class="form-control" id="bale" placeholder="Bale" value="{{record.bale}}" name="bale" readonly>
            </div>
            <div class="form-group col-md-4">
                <label for="Rate">Rate</label>
                <input type="number" class="form-control" id="rate" placeholder="Rate" value="{{record.rate}}" name="rate" readonly>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="LR Number">LR No</label>
                <input type="number" class="form-control" id="lr_number" placeholder="LR Number" value="{{record.lr_no}}" name="lr_no" readonly>
            </div>
            <div class="form-group col-md-4">
                <label for="Order No">Order No</label>
                <input type="number" class="form-control" id="rate" placeholder="Order No" value="{{record.order_no}}" name="order_no" readonly>
            </div>
            <div class="form-group col-md-4">
                  <label for="State">State</label>
                  <input type="text" class="form-control" id="state" placeholder="State" value="{{record.state}}" name="state" readonly>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="thanrecieved">Than Checked</label>
                <input type="number" step="0.01" class="form-control" id="thanrecieved" placeholder="0" name="than_recieved" autofocus required>
            </div>
            <div class="form-group col-md-4">
                <label for="checkingdate">Checking Date</label>
                <input type="date" class="form-control" id="checkingdate" name="checking_date" value="{{date}}" min="{{mindate}}" max="{{maxdate}}" required/>
            </div>
            <div class="form-group col-md-4">
                <label for="new-quality">Grey Quality</label>
                <select class="form-control" name="new-quality">

                    {% for q in qualities %}
                        {% ifequal record.quality q.qualities  %}
                            <option value="{{ q.qualities }}" selected>{{ record.quality }}</option>
                        {% else %}
                            <option value="{{ q.qualities }}">{{ q.qualities }}</option>
                        {% endifequal %}
                    {% endfor %}
                </select>

                
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="new-quality">Defect status</label>
                <select class="form-control" name="defect">
                    <option value="no defect">No defect</option>
                    <option value="Defect- Transport defect">Defect due to transport</option>
                    <option value="Defect- Manufacturing defect">Defect in manufacturing</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="Mtrs checked">Mtrs Change</label>
                <input type="number" step="0.01" class="form-control" id="mtrs" placeholder="Enter Data ONLY IF Mtrs Changes" name="mtrs-checked" >
            </div>
            <div class="form-group col-md-4">
                <label for="checker">Checker Name</label>
                <select class="form-control" name="checker" required>

                    {% for q in checkers %}
                        <option value="{{ q.checker }}">{{ q.checker }}</option>
                        
                        
                    {% endfor %}
                </select>

                
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="checker">Transport Agency Name</label>
                <select class="form-control" name="transport" required>

                    {% for q in transport %}
                        <option value="{{ q.transport }}">{{ q.transport }}</option>
                        
                        
                    {% endfor %}
                </select>

                
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-9">
                <button type="submit" class="btn btn-success button">Complete Checking</button>
            </div>
            <div class="form-group col-md-3 next-previous">
                <a class ="anchor-button float-right" href="{% url 'back' record.state %}">Back</a>
                
            </div>
            <!--<div class="form-group col-md-3 next-previous">
                <a class ="anchor-button float-right" href="{% url 'nextRec' record.id %}">Next</a>
                <a class ="anchor-button float-right space" href="{% url 'prevRec' record.id %}">Prev</a>
            </div>-->
        </div>
      </form>
      <!-- Display Record End
    
    <div class="form-group col-md-4">
                <label for="recievingdate">quality2</label>
                <select name="quality2">
                    {% for q in qualities %}
                        <option value="{{ q.qualities }}">{{ q.qualities }}</option>
                    {% endfor %}
                </select>
                
            </div>
        -->
{% endblock %}

