{% extends 'nav.html' %}

{% block title%} Add Quality {% endblock %}
{% block content%}
{% load widget_tweaks %}
{% load my_tags %}
      <!-- Add Party Start-->
      <form method="POST" action="{% url 'editquality' id %}" class="md-form upload-file" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="upload-header">
            <h1>Edit Grey Quality name</h1>
        </div>
        <div class="upload-container">
            <input type="text" class="form-control" id="addquality" placeholder="Grey Quality" value="{{name}}" name="edit-quality" required>

            <br>

            <button class="upload-btn btn-primary" type="submit">Save</button>
        </div>
      </form>

      
        
        
        
      <!-- Add Party End -->
      


{% endblock %}