<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GoDown</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
  {% url 'index' as index %}
  {% url 'intransit' as intransit %}
  {% url 'godown' as godown %}
  {% url 'godownrequest' as godownrequest %}
  {% url 'checking' as checking %}
  {% url 'checkingrequest' as checkingrequest %}
  {% url 'inprocess' as inprocess %}
  {% url 'processingrequest' as processingrequest %}
  {% url 'readytoprint' as readytoprint %}
  {% url 'readytoprintrequest' as readytoprintrequest %}
    <!-- Nav Bar Start-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {%if request.path == index %} active {%endif%}">
                <a class="nav-link" href="{% url 'index' %}">HOME <!--<span class="sr-only">(current)</span>--></a>
            </li>
            <li class="nav-item dropdown {%if request.path == intransit %}active {%elif request.path == godown %} active
            {%elif request.path == godownrequest %} active {%elif request.path == checking %} active
            {%elif request.path == checkingrequest %} active {%elif request.path == inprocess %} active
            {%elif request.path == processingrequest %} active {%elif request.path == readytoprint %} active
            {%elif request.path == readytoprintrequest %} active
            {%endif%}">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {%if request.path == intransit %}
                  Transit
                {%elif request.path == godown %}
                  Godown
                {%elif request.path == godownrequest %}
                  Godown
                {%elif request.path == checking %}
                  Checking
                {%elif request.path == checkingrequest %}
                  Checking
                {%elif request.path == inprocess %}
                  Process
                {%elif request.path == processingrequest %}
                  Process
                {%elif request.path == readytoprint %}
                  Ready To Print
                {%elif request.path == readytoprintrequest %}
                  Ready To Print
                {% else %}
                  Grey
                {% endif %}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'intransit' %}">Transit</a>
                <a class="dropdown-item" href="{% url 'godown' %}">Godown</a>
                <a class="dropdown-item" href="{% url 'checking' %}">Checking</a>
                <a class="dropdown-item" href="{% url 'inprocess' %}">Processing</a>
                <a class="dropdown-item" href="{% url 'readytoprint' %}">ReadyToPrint</a>
              </div>
            </li>
          </ul>
          <!-- Approval Start -->
            <a class ="btn-request float-right" href="{% url 'godownrequest' %}">Approve Request</a>
          <!-- Approval End-->
        </div>
      </nav>
      <!-- Nav Bar End-->

      <!-- Messages Start -->
    {% for message in messages %}
    <div
      class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    <!-- Messages End -->
    
    {% load widget_tweaks %}
    {% load my_tags %}
      <!-- Filter Start -->
      <form method="GET">
          <div class="form-row filter-form">
            <div class="form-group col-sm-4">
              {{ filter.form.party_name.label_tag }}
              {% render_field filter.form.party_name class="form-control" %}
            </div>
            <div class="form-group col-sm-2">
              {{ filter.form.lot_no.label_tag }}
              {% render_field filter.form.lot_no class="form-control" %}
            </div>
            <div class="form-group col-sm-4">
              {{ filter.form.quality.label_tag }}
              {% render_field filter.form.quality class="form-control" %}
            </div>
            <div class="form-group col-sm-2 filter-button">
              <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Search</button>
            </div>
          </div>
      </form>
      <!-- Filter End -->

      <!-- Display Table Start-->
      <table class="table">
        <thead class="thead-dark">
          <tr>
            
            <th scope="col">ID</th>
            <th scope="col">Party Name</th>
            <th scope="col">Bill No</th>
            <th scope="col">Bill Date</th>
            <th scope="col">Bill Amt</th>
            <th scope="col">Lot No</th>
            <th scope="col">Quality</th>
            <th scope="col">Than</th>
            <th scope="col">Mtrs</th>
            <th scope="col">Bale</th>
            <th scope="col">Total Bale</th>
            <th scope="col">Rate</th>
            <th scope="col">LR No</th>
            <th scope="col">Order No</th>
            <th scope="col">Recieving Date</th>
            <th scope="col">State</th>
            
            
          </tr>
        </thead>
        <tbody>
        {% for record in records %}
          <tr>
            
            <td scope="row">{{record.id}}</td>
            <td>{{record.party_name}}</td>
            <td>{{record.bill_no}}</td>
            <td>{{record.bill_date}}</td>
            <td>{{record.bill_amount}}</td>
            <td>{{record.lot_no}}</td>
            <td>{{record.quality}}</td>
            <td>{{record.than}}</td>
            <td>{{record.mtrs}}</td>
            <td>{{record.bale}}</td>
            <td>{{record.total_bale}}</td>
            <td>{{record.rate}}</td>
            <td>{{record.lr_no}}</td>
            <td>{{record.order_no}}</td>
            <td>{{record.recieving_date}}</td>
            <td>{{record.state}}</td>
            
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <!-- Display Table End -->

      <div class="pagination">
        <div class="number-line">
          {% if records.has_previous %}
          <a class="page-no-text" href="{% my_url records.previous_page_number 'page' request.GET.urlencode %}">Previous page</a>
          {% endif%}
          {% for num in records.paginator.page_range %}
            {%if records.number == num%}
              &nbsp Page &nbsp<span class="current-page page-no-text"><strong>{{ num  }}</strong></span>&nbsp of &nbsp{{ records.paginator.num_pages }}&nbsp
            
            {% endif %}
          {%endfor%}
          {% if records.has_next %}
            <a class="page-no-text" href="{% my_url records.next_page_number 'page' request.GET.urlencode %}">Next page</a>
          {% endif%}
        </div>  
      </div>

      <br>

</body>
{% load static %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
{% load static %}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>