{% extends 'nav.html' %}

{% block title%} Index {% endblock %}
{% block content%}

      <!-- File Upload Start-->
      <form method="POST" class="md-form upload-file" action="/insert" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="upload-header">
            <h1>Choose File</h1>
        </div>
        <div class="upload-container">
            <input class= "button" type="file" name="myfile">

            <br>

            <button class="upload-btn btn-primary" type="submit">Upload</button>
        </div>
      </form>
      <!-- File Upload End -->

      <!-- Add Party & Quality Start-->
      <div class="upload-file">
        <a class ="btn-add" href="#">Add Receiving Party</a>
        <a class ="btn-add" href="#">Add Quality</a>
      </div>
      <!-- Add Party & Quality End -->
{% endblock %}