{% extends 'nav.html' %}

{% block title%} Record {% endblock %}
{% block content%}
      <!-- Diplay Record Start -->
        <div class="page-title">
            <h3 class="title-text">TRANSIT - EDIT RECORD</h3>
        </div>

      <form class = "md-form view-file" method="POST" action="{% url 'edit' record.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="Party Name">Party Name</label>
            <input type="text" class="form-control" id="party_name" placeholder="Party Name" value="{{record.party_name}}" name="party_name" autofocus>
          </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="Bill No">Bill No</label>
                <input type="number" class="form-control" id="bill_no" placeholder="Bill No" value="{{record.bill_no}}" name="bill_no">
            </div>
            <div class="form-group col-md-4">
                <label for="Bill Date">Bill Date</label>
                <input type="text" class="form-control" id="bill_date" placeholder="Bill Date"  
                value="{{record.bill_date}}" name="bill_date" readonly/>
            </div>
            <div class="form-group col-md-4">
                <label for="Bill Amount">Bill Amount</label>
                <input type="number" class="form-control" id="bill_amount" placeholder="Bill Amount" value="{{record.bill_amount}}" name="bill_amount">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="Lot No">Lot No</label>
                <input type="number" class="form-control" id="lot_no" placeholder="Lot No" value="{{record.lot_no}}" name="lot_no" readonly>
            </div>
            <div class="form-group col-md-4">
                <label for="Quality">Quality</label>
                <input type="text" class="form-control" id="quality_date" placeholder="Quality" value="{{record.quality}}" name="quality" readonly>
            </div>
            <div class="form-group col-md-4">
                <label for="Than">Than</label>
                <input type="number" class="form-control" id="than" placeholder="Than" value="{{record.than}}" name="than">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="Mtrs">Mtrs</label>
                <input type="float" class="form-control" id="mtrs" placeholder="Mtrs" value="{{record.mtrs}}" name="mtrs">
            </div>
            <div class="form-group col-md-4">
                <label for="Bale">Bale</label>
                <input type="number" class="form-control" id="bale" placeholder="Bale" value="{{record.bale}}" name="bale">
            </div>
            <div class="form-group col-md-4">
                <label for="Rate">Rate</label>
                <input type="float" class="form-control" id="rate" placeholder="Rate" value="{{record.rate}}" name="rate">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="LR Number">LR No</label>
                <input type="number" class="form-control" id="lr_number" placeholder="LR Number" value="{{record.lr_no}}" name="lr_no">
            </div>
            <div class="form-group col-md-4">
                <label for="Order No">Order No</label>
                <input type="number" class="form-control" id="rate" placeholder="Order No" value="{{record.order_no}}" name="order_no">
            </div>
            <div class="form-group col-md-4">
                  <label for="State">State</label>
                  <input type="text" class="form-control" id="state" placeholder="State" value="{{record.state}}" name="state" readonly>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <button type="submit" class="btn btn-primary button">Save Changes</button>
            </div>
            
            <div class="form-group col-md-6 next-previous">
                <a class ="anchor-button float-right" href="{% url 'back1' %}">Back</a>
            </div>
            <div class="form-group col-md-4 next-previous">
                <!-- Empty Space -->
            </div>
            <div class="form-group col-md-4 next-previous float-center">
                <a class ="anchor-button space" href="{% url 'prevRec' record.id %}">Prev</a>
                <a class ="anchor-button" href="{% url 'nextRec' record.id %}">Next</a>
            </div>
        </div>
      </form>
      <!-- Display Record End -->
{% endblock %}