<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

    <!-- Nav Bar Start-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
          {% load static %}
            <img src="{% static 'img/logo.png' %}" width="173" height="23" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'intransit' %}">In Transit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">MODULE 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">MODULE 3</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">MODULE 4</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">SIGN IN</button>
          </form>
        </div>
      </nav>
      <!-- Nav Bar End-->

      <br>
      <br>
      

      <!-- Display Table Start-->
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Party Name</th>
            <th scope="col">Bill No</th>
            <th scope="col">Bill Date</th>
            <th scope="col">Bill Amt</th>
            <th scope="col">Lot No</th>
            <th scope="col">Quality</th>
            <th scope="col">Than</th>
            <th scope="col">Mtrs</th>
            <th scope="col">Bale</th>
            <th scope="col">Rate</th>
            <th scope="col">LR No</th>
            <th scope="col">Order No</th>
            <th scope="col">State</th>
          </tr>
        </thead>
        <tbody>
        
          <tr>
            <td scope="row">{{record.sr_no}}</td>
            <td>{{record.party_name}}</td>
            <td>{{record.bill_no}}</td>
            <td>{{record.bill_date}}</td>
            <td>{{record.bill_amount}}</td>
            <td>{{record.lot_no}}</td>
            <td>{{record.quality}}</td>
            <td>{{record.than}}</td>
            <td>{{record.mtrs}}</td>
            <td>{{record.bale}}</td>
            <td>{{record.rate}}</td>
            <td>{{record.lr_no}}</td>
            <td>{{record.order_no}}</td>
            <td>{{record.state}}</td>
          </tr>
        
        </tbody>
      </table>
      <!-- Display Table End -->

      <form class = "md-form view-file" method="POST" action="{% url 'edit' record.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="S.No">S.No</label>
            <input type="number" class="form-control" id="sr_no" placeholder="S.No" value="{{record.sr_no}}" name="sr_no">
          </div>
          <div class="form-group col-md-10">
            <label for="Party Name">Party Name</label>
            <input type="text" class="form-control" id="party_name" placeholder="Party Name" value="{{record.party_name}}" name="party_name">
          </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="Bill No">Bill No</label>
                <input type="number" class="form-control" id="bill_no" placeholder="Bill No" value="{{record.bill_no}}" name="bill_no">
            </div>
            <div class="form-group col-md-4">
                <label for="Bill Date">Bill Date</label>
                <input type="date" class="form-control" id="bill_date" placeholder="Bill Date" value="{{record.bill_date}}" name="bill_date">
            </div>
            <div class="form-group col-md-4">
                <label for="Bill Amount">Bill Amount</label>
                <input type="number" class="form-control" id="bill_amount" placeholder="Bill Amount" value="{{record.bill_amount}}" name="bill_amount">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="Lot No">Lot No</label>
                <input type="number" class="form-control" id="lot_no" placeholder="Lot No" value="{{record.lot_no}}" name="lot_no">
            </div>
            <div class="form-group col-md-4">
                <label for="Quality">Quality</label>
                <input type="text" class="form-control" id="quality_date" placeholder="Quality" value="{{record.quality}}" name="quality">
            </div>
            <div class="form-group col-md-4">
                <label for="Than">Than</label>
                <input type="number" class="form-control" id="than" placeholder="Than" value="{{record.than}}" name="than">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="Mtrs">Mtrs</label>
                <input type="number" class="form-control" id="mtrs" placeholder="Mtrs" value="{{record.mtrs}}" name="mtrs">
            </div>
            <div class="form-group col-md-4">
                <label for="Bale">Bale</label>
                <input type="number" class="form-control" id="bale" placeholder="Bale" value="{{record.bale}}" name="bale">
            </div>
            <div class="form-group col-md-4">
                <label for="Rate">Rate</label>
                <input type="number" class="form-control" id="rate" placeholder="Rate" value="{{record.rate}}" name="rate">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="LR Number">LR No</label>
                <input type="number" class="form-control" id="lr_number" placeholder="LR Number" value="{{record.lr_no}}" name="lr_no">
            </div>
            <div class="form-group col-md-4">
                <label for="Order No">Order No</label>
                <input type="number" class="form-control" id="rate" placeholder="Order No" value="{{record.order_no}}" name="order_no">
            </div>
            <div class="form-group col-md-4">
                  <label for="State">State</label>
                  <select id="State" class="form-control">
                    <option selected value="{{record.state_choices.state1}}">{{record.state}}</option>
                    <option value="{{record.state_choices.state2}}">Order recieved</option>
                  </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary button">Save Changes</button>
        <!--<button type="submit" class="btn btn-danger button">Delete</button>-->
      </form>
</body>
{% load static %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
{% load static %}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>