<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Report Filter</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
  {% url 'index' as index %}
  {% url 'greyhome' as greyhome %}
  {% url 'intransit' as intransit %}
  {% url 'godown' as godown %}
  {% url 'godownrequest' as godownrequest %}
  {% url 'checking' as checking %}
  {% url 'checkingrequest' as checkingrequest %}
  {% url 'inprocess' as inprocess %}
  {% url 'processingrequest' as processingrequest %}
  {% url 'readytoprint' as readytoprint %}
  {% url 'readytoprintrequest' as readytoprintrequest %}
    <!-- Nav Bar Start-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link {%if request.path == index %} active {%endif%}" href="{% url 'index' %}">Master <!--<span class="sr-only">(current)</span>--></a>
              <a class="nav-link {%if request.path == greyhome %} active {%endif%}" href="{% url 'greyhome' %}">Grey - Home</a>
              <a class="nav-link {%if request.path == intransit %} active {%endif%}" href="{% url 'intransit' %}">Transit</a>
              <a class="nav-link {%if request.path == godown %} active {%elif request.path == godownrequest %} active {%endif%}" href="{% url 'godown' %}">Godown</a>
              <a class="nav-link {%if request.path == checking %} active {%elif request.path == checkingrequest %} active {%endif%}" href="{% url 'checking' %}">Checking</a>
              <a class="nav-link {%if request.path == inprocess %} active {%elif request.path == processingrequest %} active {%endif%}" href="{% url 'inprocess' %}">Processing</a>
              <a class="nav-link {%if request.path == readytoprint %} active {%elif request.path == readytoprintrequest %} active {%endif%}" href="{% url 'readytoprint' %}">Processed Grey</a>
          </li>
          </ul>
        </div>
      </nav>
      <!-- Nav Bar End-->

      <!-- Messages Start -->
    {% for message in messages %}
    <div
      class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    <!-- Messages End -->
    
    {% load widget_tweaks %}
    {% load my_tags %}

    <div class="page-title">
      <h3 class="title-text">LEDGER</h3>
    </div>
      <!-- Record Filter Start-->
      <form class = "md-form view-report" method="POST" action="{% url 'generatereport' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <!--First Section -->
        <div class="form-row form-group">
          <div class="form-group col-md-4">
            <label for="firstdate">Start Date</label>
            <input type="date" class="form-control" id="firstdate" name="start_date" placeholder="mm-dd-yyyy"/>
            <label for="firstdate">End Date</label>
            <input type="date" class="form-control" id="enddate" name="end_date" placeholder="mm-dd-yyyy" />

            <label for="lotno">Lot No</label>
            <input type="number" class="form-control" id="lot_no" placeholder="Lot No" value="{{record.lot_no}}" name="lot_no">
          </div>
        <!-- First Section End 
        <div class="form-group col-md-4">
          <label class="form-check-label pl-4" for="processing_party"><b>SELECT SENDING PARTY NAME</b></label>
          <div class="form-group form-check ">
            <hr class="small">
            <input class="form-check-input-2" type="checkbox" onClick="togglesendingparty(this)" />
            <label class="form-check-label-2">SELECT ALL</label>
            <hr class="small">
          </div>
          <div class="form-group form-check scroll">
              
            {% for p in sendingparty %}
            <input class="form-check-input-2" type="checkbox" value="{{p}}" name="{{p}}" id="partyname">
            <label class="form-check-label-2">
                {{p}}
            </label>
          {% endfor %}
          </div>
        </div>-->
        <div class="form-group col-md-4">
            <label class="form-check-label pl-4" for="processing_party"><b>SELECT PROCESSING PARTY</b></label>
            <div class="form-group form-check ">
              <hr class="small">
              <!-- <input class="form-check-input" type="checkbox" onClick="toggleprocessingparty(this)" />
              <label class="form-check-label">SELECT ALL</label> -->
              <!-- <hr class="small"> -->
            </div>
            <div class="form-group form-check scroll">
                
                {% for p in parties %}
                <input class="form-check-input" type="radio" value="{{p.processing_party}}" name="{{p.processing_party}}" id="partyname">
                <label class="form-check-label">
                    {{p.processing_party}}
                </label>
                {% endfor %}
       
            </div>
        </div>
            <div class="form-group form-check col-md-4"><!--Empty Div--></div>
            <div class="form-group form-check col-md-4"><!--Empty Div--></div>
            <div class="form-group form-check col-md-4">
                <button type="submit" class="btn btn-primary button float-right mt-4">Generate Report</button>
            </div>
        </div>
        <!-- Record Filter End-->
</body>

<script>
  function toggleprocessingparty(source) {
    checkboxes = document.getElementsByClassName('form-check-input');
    for(var i=0, n=checkboxes.length;i<n;i++) {
      checkboxes[i].checked = source.checked;
    }
  }
  function togglesendingparty(source) {
    checkboxes = document.getElementsByClassName('form-check-input-2');
    for(var i=0, n=checkboxes.length;i<n;i++) {
      checkboxes[i].checked = source.checked;
    }
  }
</script>
{% load static %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
{% load static %}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>