{% extends 'nav.html' %}

{% block title%} Checker Report {% endblock %}
{% block content%}
{% load widget_tweaks %}
{% load my_tags %}
{% load mathfilters %}





    <div class="page-title">
      <h3 class="title-text">Transport Report - {{display_begin}} to {{display_end}}</h3>
      <h3 class="title-text">Transport Agency Name - {{t}}</h3>
    </div>
      <br>
      <!-- Filter End -->
      <div class="download">
        <form method="POST" action="{% url 'export_report_xls' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="text" name="transport" value="{{checker}}" hidden>
          <input type="date" name="start_date" value="{{begin}}" hidden/>
          <input type="date" name="end_date" value="{{end}}" hidden/>
          <button class="download-button">Print</button>
        </form>
        
      </div>
      <!-- Display Table Start-->
      <table class="table">
        <thead class="thead-dark">
          <tr>
            
            <th scope="col">Sr. No</th>
            <th scope="col">Lot No</th>
            <th scope="col" class="td-text">Quality</th>
            <th scope="col">Checking Date</th>
            <th scope="col">Thans Checked</th>
            <th scope="col">Rate(Rs)</th>
            <th scope="col">Total(Rs)</th>
            
            
            
          </tr>
        </thead>
        <tbody>
        {% for d in records %}
            <tr>
            
            
              <td scope="row">{{ forloop.counter }}</td>
              <td>{{d.6}}</td>
              <td class="td-text">{{d.0}}</td>
              <td>{{d.1}}</td>
              <td >{{d.2}}</td>
              <td>{{d.4}}</td>
              <td>{{d.5}}</td>
              <!-- <td>{{d.6}}</td> -->
              
              
            </tr>
            
        {% endfor %}
        <tr>
          <td scope="row"><strong>Total</strong></td>
          <td class="td-text">-</td>
          <td>-</td>
          <td>-</td>
          <td ><strong>{{total.0}}</strong></td>
          <td>-</td>
          
          <td><strong>{{total.1}}</strong></td>
          
          
        </tr>
        </tbody>
      </table>
      <!-- Display Table End -->

      

      <br>

      {% endblock %}