<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Report</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <!-- <script src="jquery.table2excel.js"></script> -->
    <!-- <script src="https://cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script> -->
</head>
<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="static/scripts/table2excel.js"></script>
  {% url 'index' as index %}
  {% url 'greyhome' as greyhome %}
  {% url 'intransit' as intransit %}
  {% url 'godown' as godown %}
  {% url 'godownrequest' as godownrequest %}
  {% url 'checking' as checking %}
  {% url 'checkingrequest' as checkingrequest %}
  {% url 'inprocess' as inprocess %}
  {% url 'processingrequest' as processingrequest %}
  {% url 'readytoprint' as readytoprint %}
  {% url 'readytoprintrequest' as readytoprintrequest %}
    <!-- Nav Bar Start-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link {%if request.path == index %} active {%endif%}" href="{% url 'index' %}">Master <!--<span class="sr-only">(current)</span>--></a>
              <a class="nav-link {%if request.path == greyhome %} active {%endif%}" href="{% url 'greyhome' %}">Grey - Home</a>
              <a class="nav-link {%if request.path == intransit %} active {%endif%}" href="{% url 'intransit' %}">Transit</a>
              <a class="nav-link {%if request.path == godown %} active {%elif request.path == godownrequest %} active {%endif%}" href="{% url 'godown' %}">Godown</a>
              <a class="nav-link {%if request.path == checking %} active {%elif request.path == checkingrequest %} active {%endif%}" href="{% url 'checking' %}">Checking</a>
              <a class="nav-link {%if request.path == inprocess %} active {%elif request.path == processingrequest %} active {%endif%}" href="{% url 'inprocess' %}">Processing</a>
              <a class="nav-link {%if request.path == readytoprint %} active {%elif request.path == readytoprintrequest %} active {%endif%}" href="{% url 'readytoprint' %}">Processed Grey</a>
          </li>
          </ul>
          <!-- Approval Start -->
            
          <!-- Approval End-->
        </div>
      </nav>
      <!-- Nav Bar End-->

      <!-- Messages Start -->
    {% for message in messages %}
    <div
      class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    <!-- Messages End -->
    
    {% load widget_tweaks %}
    {% load my_tags %}
      <br>
      <!-- Filter End -->
      <div class="page-title">
        <h3 class="title-text">Quality wise Report</h3>
      </div>
      <div class="download">
        <form method="POST" action="{% url 'export_report_xls' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="text" name="qualities" value="{{select}}" hidden>
          <button class="download-button">Print</button>
        </form>
      </div>
      <!-- Display Table Start-->
      <table class="table table-bordered" id="quality-report">
        <thead class="thead-dark">
          <tr>

            <th scope="col">Sr.no</th>
            <th scope="col">Grey Quality</th>
            <th colspan="2" scope="colgroup">In Transit</th>
            <th colspan="2" scope="colgroup">In Godown</th>
            <th colspan="2" scope="colgroup">Checked</th>
            <th colspan="2" scope="colgroup">Processing</th>
            <th colspan="2" scope="colgroup">Processed Grey</th>
            <th colspan="2" scope="colgroup">Total</th>
          </tr>

          <tr>

            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Than</th>
            <th scope="col">Mtrs</th>
            <th scope="col">Than</th>
            <th scope="col">Mtrs</th>
            <th scope="col">Than</th>
            <th scope="col">Mtrs</th>
            <th scope="col">Than</th>
            <th scope="col">Mtrs</th>
            <th scope="col">Than</th>
            <th scope="col">Mtrs</th>
            <th scope="col">Than</th>
            <th scope="col">Mtrs</th>

          </tr>

        </thead>
        <tbody>
        {% for d in data %}
          <tr>
            
            <td scope="row">{{ forloop.counter }}</td>
            <td class="td-text">{{d.0}}</td>
            <td>{{d.1}}</td>
            <td>{{d.2}}</td>
            <td>{{d.3}}</td>
            <td>{{d.4}}</td>
            <td>{{d.5}}</td>
            <td>{{d.6}}</td>
            <td>{{d.7}}</td>
            <td>{{d.8}}</td>
            <td>{{d.9}}</td>
            <td>{{d.10}}</td>
            <td>{{d.11}}</td>
            <td>{{d.12}}</td>
          </tr>
        {% endfor %}

        <tr>
            
          <td scope="row"></td>
          <td class="td-text"><strong>Total</strong></td>
          <td><strong>{{total.0}}</strong></td>
          <td><strong>{{total.1}}</strong></td>
          <td><strong>{{total.2}}</strong></td>
          <td><strong>{{total.3}}</strong></td>
          <td><strong>{{total.4}}</strong></td>
          <td><strong>{{total.5}}</strong></td>
          <td><strong>{{total.6}}</strong></td>
          <td><strong>{{total.7}}</strong></td>
          <td><strong>{{total.8}}</strong></td>
          <td><strong>{{total.9}}</strong></td>
          <td><strong>{{total.10}}</strong></td>
          <td><strong>{{total.11}}</strong></td>
        </tr>
        </tbody>
      </table>
      <!-- Display Table End -->

      

      <br>
      

</body>
{% load static %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
{% load static %}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>