{% extends 'greyNav.html' %}

{% block title%} Add Quality {% endblock %}
{% block content%}
{% load widget_tweaks %}
{% load my_tags %}
      <!-- Add Party Start-->
      <form method="POST" action="{% url 'editGreyMasterTransportAgency' id %}" class="md-form upload-file" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="upload-header">
            <h1>Edit Transport Agency name</h1>
        </div>
        <div class="upload-container">
            <input type="text" class="form-control" id="editGreyMasterTransportAgency" placeholder="Transport Agency name" value="{{transport_agency_name}}" name="transport_agency_name" required>

            <br>
            <input type="float" class="form-control" id="editTransportRate" placeholder="Freight" value="{{freight}}" name="freight" required>

            <br>
            <button class="upload-btn btn-primary" type="submit">Save</button>
        </div>
      </form>





      <!-- Add Party End -->



{% endblock %}
