{% extends './employeenav.html' %}

{% block title%} Pay Employee {% endblock %}
{% block content%}
{% load widget_tweaks %}
{% load my_tags %}

    <div class="page-title">
      <h3 class="title-text">Pay Employee</h3>
    </div>
      <!-- Record Filter Start-->
      <form class = "md-form view-report" method="POST" action="{% url 'generatepayment' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <!--First Section -->
        <div class="form-row form-group">
          <div class="form-group col-md-4">
            <label for="firstdate">Payment Date</label>
            <input type="date" class="form-control" id="paymentdate" name="payment_date" placeholder="mm-dd-yyyy"/>
            <br>
            <label for="Quantity">Bank Name</label>
            <select class="form-control" name="bank" required>    
                {% for b in banks %}
                    
                    <option value="{{ b.id }}" >{{ b.bank_name }}</option>
                                           
                {% endfor %}
            </select> 
          </div>

          
        <!-- First Section End 
        <div class="form-group col-md-4">
          <label class="form-check-label pl-4" for="processing_party"><b>SELECT SENDING PARTY NAME</b></label>
          <div class="form-group form-check ">
            <hr class="small">
            <input class="form-check-input-2" type="checkbox" onClick="togglesendingparty(this)" />
            <label class="form-check-label-2">SELECT ALL</label>
            <hr class="small">
          </div>
          <div class="form-group form-check scroll">
              
            {% for p in sendingparty %}
            <input class="form-check-input-2" type="checkbox" value="{{p}}" name="{{p}}" id="partyname">
            <label class="form-check-label-2">
                {{p}}
            </label>
          {% endfor %}
          </div>
        </div>-->
        <div class="form-group col-md-4">
            <label class="form-check-label pl-4" for="processing_party"><b>SELECT EMPLOYEES</b></label>
            <div class="form-group form-check ">
              <hr class="small">
              <!-- <input class="form-check-input" type="checkbox" onClick="toggleprocessingparty(this)" />
              <label class="form-check-label">SELECT ALL</label> -->
              <!-- <hr class="small"> -->
            </div>
            <div class="form-group form-check scroll">
                
                {% for e in emps %}
                <input class="form-check-input" type="checkbox" value="{{e.id}}" name="{{e.phone_no}}" id="{{e.phone_no}}">
                <label class="form-check-label">
                    {{e.name}}
                </label>
                {% endfor %}
       
            </div>
        </div>
            <div class="form-group form-check col-md-4"><!--Empty Div--></div>
            <div class="form-group form-check col-md-4"><!--Empty Div--></div>
            <div class="form-group form-check col-md-4">
                <button type="submit" class="btn btn-primary button float-right mt-4">Next</button>
            </div>
        </div>
        <!-- Record Filter End-->
</body>

<!-- <script>
  function toggleprocessingparty(source) {
    checkboxes = document.getElementsByClassName('form-check-input');
    for(var i=0, n=checkboxes.length;i<n;i++) {
      checkboxes[i].checked = source.checked;
    }
  }
  function togglesendingparty(source) {
    checkboxes = document.getElementsByClassName('form-check-input-2');
    for(var i=0, n=checkboxes.length;i<n;i++) {
      checkboxes[i].checked = source.checked;
    }
  }
</script> -->


{% endblock %}