*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.active {
  color: #ffffff;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

a {
  color: #a044ff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #6a3093;
  text-decoration: none;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

hr {
  width: 200%;
}
/* Navbar */
.navbar {
  background: #6a3093; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #a044ff,
    #6a3093
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #a044ff,
    #6a3093
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar ul li a {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.5rem 1.3rem;
  transition: all 0.25s ease-out 0s;
}

.navbar ul li a:hover {
  color: rgb(255, 255, 255) !important;
}

.navbar ul li a:focus {
  color: rgb(255, 255, 255) !important;
}

.navbar ul li .dropdown-menu .dropdown-item {
  font-size: 1rem;
  color: #a044ff !important;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.5rem 1.3rem;
  transition: all 0.25s ease-out 0s;
}

.navbar ul li .dropdown-menu .dropdown-item:hover {
  color: #6a3093 !important;
  background: #ffffff;
}

.navbar ul li .dropdown-menu .dropdown-item:focus {
  color: #6a3093 !important;
}

.button {
  font-size: 1rem;
  margin-right: 10px;
  display: inline-block;
  text-transform: uppercase;
  overflow: hidden;
  padding: 0.5rem 1.3rem;
  transition: all 0.25s ease-out 0s;
}

.btn-request {
  font-size: 1rem;
  font-weight: 700;
  margin-right: 10px;
  display: inline-block;
  text-transform: uppercase;
  overflow: hidden;
  padding: 0.5rem 1.3rem;
  transition: all 0.25s ease-out 0s;
  color: #a044ff;
  border-radius: 5px;
  background-color: #ffffff;
  border-color: #ffffff;
  text-decoration: none;
}

.btn-request:hover {
  color: #6a3093;
  text-decoration: none;
}

.btn-request:active {
  background-color: #ffffff !important;
  border-color: #a044ff !important;
}

.btn-request:focus {
  background-color: #ffffff;
}

/* Index */
.upload-file {
  width: 360px;
  background: #e6e6e6;
  position: relative;
  margin: 50px auto 100px;
  padding: 50px 40px;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.upload-file h1 {
  color: #333333;
  text-align: center;
  font-size: 22px;
  line-height: 32px;
  text-transform: uppercase;
}

.upload-container {
  margin-top: 10px;
}

.upload-container .button {
  display: inline-block;
  background-color: #a044ff;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  border: none;
  margin-top: 10px;
  padding: 8px 25px;
  transition: all 0.3s ease 0s;
}

.upload-container .upload-btn {
  display: inline-block;
  background-color: #a044ff;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  border: none;
  margin-top: 10px;
  padding: 8px 25px;
  transition: all 0.3s ease 0s;
}

.upload-container .upload-btn:hover {
  background-color: #6a3093;
}

.upload-container .upload-btn:active {
  background-color: #a044ff !important;
  border-color: #a044ff !important;
}

.upload-container .upload-btn:focus {
  background-color: #a044ff;
}

.btn-add {
  display: inline-block;
  background-color: #a044ff;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  border-radius: 5px;
  width: 100%;
  border: none;
  margin-top: 10px;
  transition: all 0.3s ease 0s;
  overflow: hidden;
  padding: 0.5rem 1.3rem;
  transition: all 0.25s ease-out 0s;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.btn-add:hover {
  color: #ffffff;
  background-color: #6a3093;
  text-decoration: none;
}

.btn-add:active {
  background-color: #a044ff !important;
  border-color: #a044ff !important;
}

.btn-add:focus {
  background-color: #a044ff;
}

/* View Data */
.view-file {
  width: 80%;
  background: #e6e6e6;
  position: relative;
  margin: 50px auto 100px;
  padding: 50px 40px;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.view-file-container .button {
  background-color: #6a3093;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  border: none;
  margin-top: 10px;
  padding: 8px 25px;
  transition: all 0.3s ease 0s;
}

.pagination {
  text-align: center;
  margin-top: 1em;
}

.number-line {
  margin: 0 auto;
}

.current-page {
  position: relative;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  z-index: 1;
  color: #fff;
  background-color: #6a3093;
  border-color: #6a3093;
}

.page-no {
  position: relative;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #6a3093;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-no-text {
  position: relative;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #6a3093;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.float-center {
  text-align: center;
  display: block;
}

.filter-button {
  margin-top: 30px;
}

.filter-form {
  width: 80%;
  margin: 10px auto;
}

.btn {
  background-color: #a044ff;
  border-color: #a044ff;
}

.btn:hover {
  background-color: #6a3093;
  border-color: #6a3093;
}

.btn:active {
  background-color: #a044ff !important;
  border-color: #a044ff !important;
}

.btn:focus {
  background-color: #a044ff;
}

.anchor-button {
  font-size: 1rem;
  display: inline-block;
  text-transform: uppercase;
  overflow: hidden;
  padding: 0.5rem 1.3rem;
  transition: all 0.25s ease-out 0s;
  color: #fff;
  border-radius: 5px;
  background-color: #343a40;
  border-color: #343a40;
  text-decoration: none;
}

.space {
  margin-right: 15px;
}

.anchor-button:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
  text-decoration: none;
  cursor: pointer;
}

.danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

/*Report*/
.form-check-input {
  margin-left: 1.5rem;
}

.form-check-input-2 {
  margin-left: 1.5rem;
}

.form-check-label {
  margin-bottom: 0.5rem;
  margin-left: 3.5rem;
  display: block;
}

.form-check-label-2 {
  margin-bottom: 0.5rem;
  margin-left: 3.5rem;
  margin-top: -1.6rem;
  display: block;
}

.scroll {
  overflow-y: auto;
  max-height: 420px;
}

.view-report {
  width: 80%;
  background: #e6e6e6;
  position: relative;
  margin: 50px auto 100px;
  padding: 50px 40px 20px 40px;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.report-btn {
  display: inline-block;
  text-transform: uppercase;
  background-color: #a044ff;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  border: none;
  margin-top: 10px;
  padding: 8px 25px;
  transition: all 0.3s ease 0s;
}

.report-btn:hover {
  background-color: #6a3093;
}

.report-btn:active {
  background-color: #a044ff !important;
  border-color: #a044ff !important;
}

.report-btn:focus {
  background-color: #a044ff;
}

.defective-btn {
  width: 100%;
  text-align: center;
}

/* Web Page Title */
.title-text {
  margin-top: 15px;
  text-align: center;
  color: #a044ff;
}

/* Record Display */
.td-text {
  text-align: left;
}

.small {
  width: 100%;
}

.button-small-text {
  font-size: 0.75rem;
  text-transform: capitalize;
}

/* Download Button */
.download-button {
  color: #a044ff;
  background-color: transparent;
  background-image: none;
  border-color: #a044ff;
  border: 1px solid;
  padding: 0.375rem 0.75rem;
  margin-right: 10px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.download-button:hover {
  color: #ffffff;
  background-color: #6a3093;
  background-image: none;
  border-color: #6a3093;
  border: 1px solid;
  padding: 0.375rem 0.75rem;
  margin-right: 10px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.download {
  text-align: right;
  padding-right: 10px;
  margin-bottom: 20px;
}

.hide {
  display: none;
}

.anchor-button{
  color: #ffffff; 
  background-color: #6a3093;
}