{% extends './GreyModule/nav.html' %}

{% block title%} Add Quality {% endblock %}
{% block content%}
{% load widget_tweaks %}
{% load my_tags %}
      <!-- Add Party Start-->
      <form method="POST" action="{% url 'editprocessingparty' id %}" class="md-form upload-file" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="upload-header">
            <h1>Edit Processing House Party name</h1>
        </div>
        <div class="upload-container">
            <input type="text" class="form-control" id="addparty" placeholder="Processing House Party name" value="{{name}}" name="edit-party" required>

            <br>

            <button class="upload-btn btn-primary" type="submit">Save</button>
        </div>
      </form>

      
        
        
        
      <!-- Add Party End -->
      


{% endblock %}