{% extends './nav.html' %}

{% block title%} Add Outprocess Agency {% endblock %}
{% block content%}
{% load widget_tweaks %}
{% load my_tags %}

      <!-- Edit Grey Outprocess Agency -->
      <form method="POST" action="{% url 'editGreyMasterOutprocessAgency' id %}" class="md-form upload-file" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="upload-header">
            <h1>Edit Grey Outprocess Agency Name</h1>
        </div>
        <div class="upload-container">
            <input type="text" class="form-control" id="addparty" placeholder="Grey Outprocess Agency Name" value="{{name}}" name="edit-outprocess-agency" required>

            <br>

            <button class="upload-btn btn-primary" type="submit">Save</button>
        </div>
      </form>
      <!-- Edit Grey Outprocess Agency -->



{% endblock %}
