{% extends 'greyNav.html' %}

{% block content%}
{% load widget_tweaks %}
{% load my_tags %}
<div class="page-title">
  <h3 class="title-text">Alloted Lots </h3>
</div>

      <!-- Filter Start -->

      <form method="GET">
          <div class="form-row filter-form">
            <div class="form-group col-sm-4">
              {{ filter.form.party_name.label_tag }}
              {% render_field filter.form.party_name class="form-control" %}
            </div>
            <div class="form-group col-sm-2">
              {{ filter.form.lot_no.label_tag }}
              {% render_field filter.form.lot_no class="form-control" %}
            </div>
            <!-- <div class="form-group col-sm-4">
              {{ filter.form.quality.label_tag }}
              {% render_field filter.form.quality class="form-control" %}
            </div>
            <input type="text" name="quality"> -->

            <div class="form-group col-sm-4">
              <label for="new-quality">Quality</label>
              <select class="form-control" name="quality" onchange="this.form.submit()">
                <option value="">--</option>
                  {% for q in quality_name %}

                      <option value="{{ q.id}}">{{ q.quality_name }}</option>

                  {% endfor %}
              </select>
          </div>
            <div class="form-group col-sm-2 filter-button hide-filter">
              <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Search</button>
            </div>
          </div>
      </form>
      <!-- Filter End -->

      <!-- Download Button Start-->
      <div class="download">
        <!-- <a class="download-button" href="{% url 'excel_page' %}">Print This Page</a> -->
        <a class="download-button" href="{% url 'excel_filter_all' %}">Print</a>
        <!-- <a class="download-button" href="{% url 'excel_all' %}">Print All Data</a> -->
      </div>
      <!-- Download Button End-->

      <!-- Display Table Start-->
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Lot No</th>
            <th scope="col">Order No</th>
            <th class="td-text" scope="col">Supplier Name</th>
            <th scope="col">Bill No</th>
            <th scope="col">Bill Date</th>
            <th scope="col">Bill Amt</th>
            <th class="td-text" scope="col">Quality</th>
            <th scope="col">Than</th>
            <th scope="col">Mtrs</th>
            <th scope="col">Bale</th>
            <th scope="col">Rate</th>
            <th scope="col">Transport Agency</th>
            <th scope="col">LR No</th>
           
            <!--<th scope="col">State</th>-->
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        {% for lot in lots %}
          <tr>
            <td>{{lot.grey_lot_number}}</td>
            <td>{{lot.order_number.order_number}}</td>
            <td>{{lot.order_number.grey_supplier.supplier_name}}</td>
            <td>{{lot.bill_number}}</td>
            <td>{{lot.bill_date}}</td>
            <td>{{lot.bill_amount}}</td>
            <td>{{lot.order_number.grey_quality.quality_name}}</td>
            <td>{{lot.order_number.thans}}</td>
            <td>{{lot.meters}}</td>
            <td>{{lot.bale}}</td>
            <td>{{lot.rate}}</td>
            <td>{{lot.transport_agency.transport_agency_name}}</td>
            <td>{{lot.lr_number}}</td>
            
            <!--<td class="td-text">{{lots.state}}</td>-->
            <td><a class ="anchor-button button-small-text" href="">Edit</a></td>
            <td><a class ="anchor-button button-small-text" href="">Move To Godown</a></td>


          </tr>
        {% endfor %}
        <!-- <tr>

          <td scope="row"><strong>Total</strong></td>
          <td class="td-text">-</td>
          <td>-</td>
          <td>-</td>
          <td><strong>{{sums.0}}</strong></td>
          <td>-</td>
          <td class="td-text">-</td>
          <td><strong>{{sums.1}}</strong></td>
          <td><strong>{{sums.2}}</strong></td>
          <td><strong>{{sums.3}}</strong></td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>

        </tr> -->
        </tbody>
      </table>
      <!-- Display Table End -->

      <div class="pagination">
        <div class="number-line">
          {% if lots.has_previous %}
          <a class="page-no-text" href="{% my_url lot.previous_page_number 'page' request.GET.urlencode %}">Previous page</a>
          {% endif%}
          {% for num in lots.paginator.page_range %}
            {%if lots.number == num%}
              &nbsp Page &nbsp<span class="current-page page-no-text"><strong>{{ num  }}</strong></span>&nbsp of &nbsp{{ lotss.paginator.num_pages }}&nbsp

            {% endif %}
          {%endfor%}
          {% if lots.has_next %}
            <a class="page-no-text" href="{% my_url lot.next_page_number 'page' request.GET.urlencode %}">Next page</a>
          {% endif%}
        </div>
      </div>

      <br>

{% endblock %}
