{% extends './nav.html' %}

{% block content %}

      <!-- Messages Start -->
    {% for message in messages %}
    <div
      class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    <!-- Messages End -->

      <!-- File Upload Start-->
      <form method="POST" class="md-form upload-file" action="/insert" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="upload-header">
            <h1>Choose File</h1>
        </div>
        <div class="upload-container">
            <input class= "button" type="file" name="myfile">

            <br>

            <button class="upload-btn btn-primary" type="submit" onclick="this.disabled=true,this.form.submit();">Upload</button>
        </div>
      </form>
      <!-- File Upload End -->

      <div class="upload-file">
        <div class="upload-header">
          <h1>Reports</h1>
        </div>
        <a class ="btn-add" href="{% url 'reportfilter' %}">Ledger</a>
        <a class ="btn-add" href="{% url 'transportreportfilter' %}">Transport Report</a>
        <a class ="btn-add" href="{% url 'checkerreportfilter' %}">Checker Report</a>
        <a class ="btn-add" href="{% url 'qualityreport2filter' %}">Quality - Processing Party Report</a>
        <a class ="btn-add" href="{% url 'qualityreportfilter' %}">Quality Report</a>
      </div>


      <div>
          <div id="greyOrder" class="modal fade" tabindex="-1">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title">Grey Order</h5>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body">
                        <!-- Grey order form starts here -->
                        <!-- Filter Start -->
                        <form method="GET">
                            <div class="form-row filter-form">

                              <div class="form-group col-sm-4">
                                <label for="new-quality">Supplier</label>
                                <select class="form-control" name="supplier" onchange="this.form.submit()">
                                  <option value="">--</option>
                                    {% for q in suppliers %}

                                        <option value="{{ q.id}}">{{ q.supplier }}</option>

                                    {% endfor %}
                                </select>
                            </div>
                              <div class="form-group col-sm-2">
                                {{ filter.form.order_no.label_tag }}

                              </div>

                              <div class="form-group col-sm-4">
                                <label for="new-quality">Color</label>
                                <select class="form-control" name="color" onchange="this.form.submit()">

                                  <option value="">--</option>
                                    {% for q in colors %}

                                        <option value="{{ q.id}}">{{ q.color }}</option>

                                    {% endfor %}
                                </select>
                            </div>
                              <div class="form-group col-sm-2 filter-button">
                                <!-- <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Search</button> -->
                              </div>
                            </div>
                        </form>
                        <!-- Filter End -->
                        <!-- grey order form ends here -->
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                          <button type="button" class="btn btn-primary">Save Order</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>




{% endblock %}
{% load static %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
{% load static %}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
