{% extends './nav.html' %}

{% block content %}

      <!-- Messages Start -->
    {% for message in messages %}
    <div
      class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    <!-- Messages End -->

{% load widget_tweaks %}
{% load my_tags %}
      <div class="page-title">
        <h3 class="title-text">PROCESSING - APPROVE RECORD</h3>
      </div>
      <!-- Filter Start -->

      <!-- Display Table End -->
      <form class = "md-form view-file" method="POST" action="{% url 'sendinprocess' record.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="Party Name">Party Name</label>
            <input type="text" class="form-control" id="party_name" placeholder="Party Name" value="{{record.party_name}}" name="party_name" readonly>
          </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="Bill No">Bill No</label>
                <input type="number" class="form-control" id="bill_no" placeholder="Bill No" value="{{record.bill_no}}" name="bill_no" readonly>
            </div>
            <div class="form-group col-md-4">
                <label for="Bill Date">Bill Date</label>
                <input type="text" class="form-control" id="bill_date" placeholder="Bill Date"
                value="{{record.bill_date}}" name="bill_date" readonly/>
            </div>
            <div class="form-group col-md-4">
                <label for="Bill Amount">Bill Amount</label>
                <input type="number" class="form-control" id="bill_amount" placeholder="Bill Amount" value="{{record.bill_amount}}" name="bill_amount" readonly>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="Lot No">Lot No</label>
                <input type="number" class="form-control" id="lot_no" placeholder="Lot No" value="{{record.lot_no}}" name="lot_no" readonly>
            </div>
            <div class="form-group col-md-4">
                <label for="Quality">Quality</label>
                <input type="text" class="form-control" id="quality_date" placeholder="Quality" value="{{record.quality.qualities}}" name="quality" readonly>
            </div>
            <div class="form-group col-md-4">
                <label for="Than">Than</label>
                <input type="number" class="form-control" id="than" placeholder="Than" value="{{record.than}}" name="than" readonly>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="Mtrs">Mtrs</label>
                <input type="number" class="form-control" id="mtrs" placeholder="Mtrs" value="{{record.mtrs}}" name="mtrs" readonly>
            </div>
            <div class="form-group col-md-4">
                <label for="Bale">Bale</label>
                <input type="number" class="form-control" id="bale" placeholder="Bale" value="{{record.bale}}" name="bale" readonly>
            </div>
            <div class="form-group col-md-4">
                <label for="Rate">Rate</label>
                <input type="number" class="form-control" id="rate" placeholder="Rate" value="{{record.rate}}" name="rate" readonly>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="LR Number">LR No</label>
                <input type="number" class="form-control" id="lr_number" placeholder="LR Number" value="{{record.lr_no}}" name="lr_no" readonly>
            </div>
            <div class="form-group col-md-4">
                <label for="Order No">Order No</label>
                <input type="number" class="form-control" id="rate" placeholder="Order No" value="{{record.order_no}}" name="order_no" readonly>
            </div>
            <div class="form-group col-md-4">
                  <label for="State">State</label>
                  <input type="text" class="form-control" id="state" placeholder="State" value="{{record.state}}" name="state" readonly>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="thaninprocess">Than in process</label>
                <input type="number" class="form-control" id="thanrecieved" placeholder="0" name="than_to_process" autofocus required>
            </div>
            <div class="form-group col-md-4">
                <label for="senttoprocessingdate">Sending Date</label>
                <input type="date" class="form-control" id="senttoprocessingdate" name="sending_date" value="{{date}}" min="{{mindate}}" max="{{maxdate}}" required/>
            </div>
            <div class="form-group col-md-4">
                <label for="new-quality">Processing Party</label>
                <select class="form-control" name="processing-party" required>
                  <option></option>
                    {% for party in parties %}

                        <option value="{{ party.id}}">{{ party.agency_name }}</option>

                    {% endfor %}
                </select>


            </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
              <label for="new-quality">Processing type</label>
              <select class="form-control" name="processing-type">
                  <option></option>
                  <option value="Bleaching">Bleaching</option>
                  <option value="Dyeing">Dyeing</option>

              </select>


          </div>
          <div class="form-group col-md-4">
            <label for="gatepassno">Gate Pass No</label>
            <input type="number" class="form-control" id="gate" placeholder="0" name="gatepass" required>
        </div>
      </div>
        <div class="form-row">
          <div class="form-group col-md-3 next-previous">
            <a class ="anchor-button" href="{% url 'back' record.state %}">Back</a>
          </div>
            <div class="form-group col-md-9">
                <button type="submit" class="btn btn-success button float-right">Send For Processing</button>
            </div>
            <!--<div class="form-group col-md-3 next-previous">
                <a class ="anchor-button float-right" href="{% url 'nextRec' record.id %}">Next</a>
                <a class ="anchor-button float-right space" href="{% url 'prevRec' record.id %}">Prev</a>
            </div>-->
        </div>
      </form>


      {% endblock %}

{% load static %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
{% load static %}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
