{% extends './nav.html' %}

{% block content %}
      <!-- Messages Start -->
    {% for message in messages %}
    <div
      class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    <!-- Messages End -->

    {% load widget_tweaks %}
    {% load my_tags %}
      <br>
      <!-- Filter End -->
      <div class="download">
        <a class="download-button" href="{% url 'excel_page' %}">Print</a>
      </div>
      <!-- Display Table Start-->
      <table class="table">
        <thead class="thead-dark">
          <tr>

            <th scope="col">Sr-no</th>
            <th scope="col">Party Name</th>
            <th scope="col">Lot No</th>
            <th scope="col">Quality</th>
            <th scope="col">Than</th>
            <th scope="col">Mtrs</th>
            <th scope="col">Rate</th>
            <th scope="col">Sent in processing date</th>
            <th scope="col">Recieve from processing date</th>
            <th scope="col">Processing Party</th>
            <th scope="col">State</th>


          </tr>

        </thead>
        <tbody>
        {% for record in records %}
          <tr>

            <td scope="row">{{ forloop.counter }}</td>
            <td class="td-text">{{record.party_name}}</td>
            <td>{{record.lot_no}}</td>
            <td class="td-text">{{record.quality}}</td>
            <td>{{record.than}}</td>
            <td>{{record.mtrs}}</td>
            <td>{{record.rate}}</td>
            <td>{{record.sent_to_processing_date}}</td>
            <td>{{record.recieve_processed_date}}</td>
            <td class="td-text">{{record.processing_party_name}}</td>
            <td class="td-text">{{record.state}}</td>

          </tr>
        {% endfor %}
        </tbody>
      </table>
      <!-- Display Table End -->



      <br>

<% endblock %}

{% load static %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
{% load static %}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
