{% extends './nav.html' %}


{% block content%}


      <!-- Messages Start -->
    {% for message in messages %}
    <div
      class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    <!-- Messages End -->

    {% load widget_tweaks %}
    {% load my_tags %}

    <div class="page-title">
      <h3 class="title-text">Transport Report</h3>
    </div>
      <!-- Record Filter Start-->
      <form class = "md-form view-report" method="POST" action="{% url 'transportReport' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <!--First Section -->
        <div class="form-row form-group">
          <div class="form-group col-md-4">
            <label for="firstdate">Start Date</label>
            <input type="date" class="form-control" id="firstdate" name="start_date" max="{{d}}" placeholder="mm-dd-yyyy" required/>
            <label for="firstdate">End Date</label>
            <input type="date" class="form-control" id="enddate" name="end_date" max="{{d}}" placeholder="mm-dd-yyyy" required/>
          </div>
        <!-- First Section End -->
        <div class="form-group col-md-4">
          <div class="form-group form-check scroll">

            <label for="checker">Transport Agency Name</label>
                <select class="form-control" name="transport_agency_id">
                  <option></option>
                    {% for q in checkers %}
                        <option value="{{ q.id }}"]>{{ q.transport_agency_name }}</option>
                    {% endfor %}
                </select>

          </div>
        </div>

        <div class="form-group form-check col-md-4"><!--Empty Div--></div>
        <div class="form-group form-check col-md-4">
            <button type="submit" class="btn btn-primary button float-right mt-4">Generate Report</button>
        </div>
    </div>
    </form>
    <!-- Record Filter End-->
    {% endblock %}


{% load static %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
{% load static %}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
